*{
    margin:0;
    padding:0;
}

.header{
    background-color: white;
    display: flex;
    padding: 20px 20px 20px 20px;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 100px;
}


.navig{
    display: flex;
    list-style: none;
}

.navig ul{
       list-style: none;
       display: flex;
       padding:20px;
}

.navig ul li{
    padding: 15px;
    font-size: 1.1rem;
}
.lien-navig{
    text-decoration:none;
    color:black;
    font-size: 400;
}
.lien-navig:hover{
    transition:.3s;
    color:red;
    font-size: 400;
}
.baniere{
    position:relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../imge/Banière1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:black;
}
.my-baniere{
    padding:200px 0 20px 0;
} 
.my-baniere h1{
    font-size: 3em;
    color:aliceblue;
}
.my-baniere h2{
    font-size: 30px;
    margin-bottom: 10px;
    color: #ffffff;
}

.btn{
    text-decoration: none;
    color:brown;
    background-color: white;
    padding:20px;
    border-radius:12px;
}
.btn:hover{
    transition:.2s;
    color:white;
    background-color: brown;
}

/* style container */
.container{
    
}